In [1]:
import json
import pandas as pd
import numpy as np
import geopandas as gpd

from sqlalchemy import create_engine
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

## Connect to PG

In [2]:
engine = create_engine('postgresql://postgres:root@localhost:5432/potrace_db')

## Initialize Data

In [ ]:
def pivot(df, key, column):
    color = ["#d8ff93","#577d0c","#6b8900","#c3da74"]
    dasbor = df[[column]].value_counts().reset_index()
    dasbor = dasbor.sort_values(by=column)
    dasbor['backgroundColor'] = color

    json_value = {
        "label": dasbor[column].to_list(),
        "data": dasbor['count'].to_list(),
        "backgroundColor": dasbor['backgroundColor'].to_list()
    }

    dict = {'district_id': [""], 'value': json.dumps(json_value)} 
    dasbor_all = pd.DataFrame(dict)

    dasbor_per_group = df.groupby(['district_id'])[[column]].value_counts().reset_index()

    result = {}
    df_list = []
    for district in set(dasbor_per_group['district_id']):
        df_filter = dasbor_per_group[dasbor_per_group['district_id'] == district]
        df_filter = df_filter.sort_values(by=column)
        result[district] = {
            "label": df_filter[column].to_list(),
            "data": df_filter['count'].to_list(),
            "backgroundColor": color
        }
        dict = {'district_id': [district], 'value': json.dumps(result[district])} 
        df_list.append(pd.DataFrame(dict))

    df_list.append(dasbor_all)    
    res = pd.concat(df_list, ignore_index=True)

    n = len(res)
    res.insert(0, "id", [i for i in range(n)], True)
    res.insert(2, "key", [key for i in range(n)], True)
    res.insert(3, "category", ["" for i in range(n)], True)
    res["created_at"] = pd.Timestamp.now().strftime('%Y-%m-%d %H:%M:%S')
    res["updated_at"] = pd.Timestamp.now().strftime('%Y-%m-%d %H:%M:%S')
    return(res)

### Farmers

In [4]:
q1 = "SELECT * FROM farmers;"
farmers = pd.read_sql_query(q1, engine)
df_farmers = farmers.copy()
q2 = "SELECT * FROM farms;"
farms = pd.read_sql_query(q2, engine)
df_farms = farms.copy()

### Land Legality

In [112]:
dasbor_land_legality = df_farms[['plant_doc']].value_counts().reset_index()
dasbor_land_legality['backgroundColor'] = ["#6b8900","#c3da74","#d8ff93","#577d0c"]
dasbor_land_legality.sort_values(by='plant_doc')

  plant_doc  count backgroundColor
2      none     56         #d8ff93
3    others      2         #577d0c
0       shm    143         #6b8900
1       skt    111         #c3da74

In [92]:
data = {
    "label": dasbor_land_legality['plant_doc'].to_list(),
    "data": dasbor_land_legality['count'].to_list(),
    "backgroundColor": dasbor_land_legality['backgroundColor'].to_list()
}
data

{'label': ['shm', 'skt', 'none', 'others'],
 'data': [143, 111, 56, 2],
 'backgroundColor': ['#6b8900', '#c3da74', '#d8ff93', '#577d0c']}

In [84]:
json.dumps(data)

'{"label": ["shm", "skt", "none", "others"], "data": [143, 111, 56, 2], "backgroundColor": ["#d8ff93", "#577d0c", "#c3da74", "#6b8900"]}'

In [119]:
dict = {'district_id': [""], 'value': json.dumps(data)} 
all = pd.DataFrame(dict)
all

  district_id                                              value
0              {"label": ["shm", "skt", "none", "others"], "d...

In [93]:
dasbor_land_legality_per_group = df_farms.groupby(['district_id'])[['plant_doc']].value_counts().reset_index()
dasbor_land_legality_per_group

  district_id plant_doc  count
0      ID6107       shm    125
1      ID6107       skt     43
2      ID6107      none     36
3      ID6107    others      1
4      ID6403       skt     68
5      ID6403      none     20
6      ID6403       shm     18
7      ID6403    others      1

In [109]:
dasbor_land_legality_per_group[dasbor_land_legality_per_group['district_id'] == 'ID6403']

  district_id plant_doc  count
4      ID6403       skt     68
5      ID6403      none     20
6      ID6403       shm     18
7      ID6403    others      1

In [127]:
result = {}
df_list = []
for district in set(dasbor_land_legality_per_group['district_id']):
    df_filter = dasbor_land_legality_per_group[dasbor_land_legality_per_group['district_id'] == district]
    df_filter = df_filter.sort_values(by='plant_doc')
    result[district] = {
        "label": df_filter['plant_doc'].to_list(),
        "data": df_filter['count'].to_list(),
        "backgroundColor": ["#d8ff93","#577d0c","#6b8900","#c3da74"]
    }
    dict = {'district_id': [district], 'value': json.dumps(result[district])} 
    df_list.append(pd.DataFrame(dict))
    
pd.concat(df_list)

In [141]:
land_legality = pivot(df_farms, 'plant_doc', 'plant_doc')
land_legality

,id,district_id,key,category,value,created_at,updated_at
0,0,ID6403,plant_doc,,"{""label"": [""none"", ""others"", ""shm"", ""skt""], ""d...",2024-09-24 23:20:06,2024-09-24 23:20:06
1,1,ID6107,plant_doc,,"{""label"": [""none"", ""others"", ""shm"", ""skt""], ""d...",2024-09-24 23:20:06,2024-09-24 23:20:06
2,2,,plant_doc,,"{""label"": [""none"", ""others"", ""shm"", ""skt""], ""d...",2024-09-24 23:20:06,2024-09-24 23:20:06

### Seed Cert

In [136]:
dasbor_seed_cert = df_farms.groupby('district_id')[['seedcert']].value_counts().reset_index()
dasbor_seed_cert.sort_values(by="seedcert")

  district_id      seedcert  count
0      ID6107     certified    153
4      ID6403     certified     94
3      ID6107         mixed      2
7      ID6403         mixed      1
2      ID6107  notcertified     18
5      ID6403  notcertified      6
1      ID6107       unknown     32
6      ID6403       unknown      6

In [144]:
seed_cert = pivot(df_farms, 'seed_cert', 'seedcert')
seed_cert

,id,district_id,key,category,value,created_at,updated_at
0,0,ID6403,seed_cert,,"{""label"": [""certified"", ""mixed"", ""notcertified...",2024-09-24 23:21:49,2024-09-24 23:21:49
1,1,ID6107,seed_cert,,"{""label"": [""certified"", ""mixed"", ""notcertified...",2024-09-24 23:21:49,2024-09-24 23:21:49
2,2,,seed_cert,,"{""label"": [""certified"", ""mixed"", ""notcertified...",2024-09-24 23:21:49,2024-09-24 23:21:49

### Permit

In [150]:
dasbor_permit = df_farmers[['permit']].value_counts().reset_index()
dasbor_permit['label'] = np.where(dasbor_permit['permit'].str.contains('doesnthave'), 'No', 'Yes')
dasbor_permit

                     permit  count label
0                doesnthave    144    No
1       certificate_village    126   Yes
2                      stdb     14   Yes
3  certificate_village stdb     12   Yes
4                 stdb sppl      7   Yes
5                      sppl      1   Yes

In [154]:
dasbor_permit_gb = dasbor_permit.groupby('label')['count'].sum().reset_index()
dasbor_permit_gb

  label  count
0    No    144
1   Yes    160

In [168]:
color = ["#577d0c","#d8ff93"]
dasbor_permit_gb['backgroundColor'] = color

json_value = {
    "label": dasbor_permit_gb['label'].to_list(),
    "data": dasbor_permit_gb['count'].to_list(),
    "backgroundColor": dasbor_permit_gb['backgroundColor'].to_list()
}

dict = {'district_id': [""], 'value': json.dumps(json_value)} 
permit_all = pd.DataFrame(dict)
permit_all

  district_id                                              value
0              {"label": ["No", "Yes"], "data": [144, 160], "...

In [157]:
dasbor_permit_by_district

  district_id                    permit  count
0      ID6107                doesnthave    110
1      ID6107       certificate_village     61
2      ID6107  certificate_village stdb     12
3      ID6107                      stdb      8
4      ID6107                 stdb sppl      7
5      ID6107                      sppl      1
6      ID6403       certificate_village     65
7      ID6403                doesnthave     34
8      ID6403                      stdb      6

In [158]:
dasbor_permit_by_district = df_farmers.groupby('district_id')[['permit']].value_counts().reset_index()
dasbor_permit_by_district['label'] = np.where(dasbor_permit_by_district['permit'].str.contains('doesnthave'), 'No', 'Yes')
dasbor_permit_by_district

  district_id                    permit  count label
0      ID6107                doesnthave    110    No
1      ID6107       certificate_village     61   Yes
2      ID6107  certificate_village stdb     12   Yes
3      ID6107                      stdb      8   Yes
4      ID6107                 stdb sppl      7   Yes
5      ID6107                      sppl      1   Yes
6      ID6403       certificate_village     65   Yes
7      ID6403                doesnthave     34    No
8      ID6403                      stdb      6   Yes

In [163]:
dasbor_permit_by_district_gb = dasbor_permit_by_district.groupby(['district_id', 'label'])['count'].sum().reset_index()
dasbor_permit_by_district_gb

  district_id label  count
0      ID6107    No    110
1      ID6107   Yes     89
2      ID6403    No     34
3      ID6403   Yes     71

In [169]:
result = {}
df_list = []
for district in set(dasbor_permit_by_district_gb['district_id']):
    df_filter = dasbor_permit_by_district_gb[dasbor_permit_by_district_gb['district_id'] == district]
    result[district] = {
        "label": df_filter['label'].to_list(),
        "data": df_filter['count'].to_list(),
        "backgroundColor": color
    }
    dict = {'district_id': [district], 'value': json.dumps(result[district])} 
    df_list.append(pd.DataFrame(dict))

df_list.append(permit_all)    
res = pd.concat(df_list, ignore_index=True)

n = len(res)
res.insert(0, "id", [i for i in range(n)], True)
res.insert(2, "key", ["stdb_reg" for i in range(n)], True)
res.insert(3, "category", ["" for i in range(n)], True)
res["created_at"] = pd.Timestamp.now().strftime('%Y-%m-%d %H:%M:%S')
res["updated_at"] = pd.Timestamp.now().strftime('%Y-%m-%d %H:%M:%S')
res

,id,district_id,key,category,value,created_at,updated_at
0,0,ID6403,stdb_reg,,"{""label"": [""No"", ""Yes""], ""data"": [34, 71], ""ba...",2024-09-25 00:05:06,2024-09-25 00:05:06
1,1,ID6107,stdb_reg,,"{""label"": [""No"", ""Yes""], ""data"": [110, 89], ""b...",2024-09-25 00:05:06,2024-09-25 00:05:06
2,2,,stdb_reg,,"{""label"": [""No"", ""Yes""], ""data"": [144, 160], ""...",2024-09-25 00:05:06,2024-09-25 00:05:06

In [171]:
df_all = [land_legality, seed_cert, res]
chart_analytics = pd.concat(df_all, ignore_index=True)
chart_analytics['id'] = [i+1 for i in range(len(chart_analytics))]
chart_analytics

,id,district_id,key,category,value,created_at,updated_at
0,1,ID6403,plant_doc,,"{""label"": [""none"", ""others"", ""shm"", ""skt""], ""d...",2024-09-24 23:20:06,2024-09-24 23:20:06
1,2,ID6107,plant_doc,,"{""label"": [""none"", ""others"", ""shm"", ""skt""], ""d...",2024-09-24 23:20:06,2024-09-24 23:20:06
2,3,,plant_doc,,"{""label"": [""none"", ""others"", ""shm"", ""skt""], ""d...",2024-09-24 23:20:06,2024-09-24 23:20:06
3,4,ID6403,seed_cert,,"{""label"": [""certified"", ""mixed"", ""notcertified...",2024-09-24 23:21:49,2024-09-24 23:21:49
4,5,ID6107,seed_cert,,"{""label"": [""certified"", ""mixed"", ""notcertified...",2024-09-24 23:21:49,2024-09-24 23:21:49
5,6,,seed_cert,,"{""label"": [""certified"", ""mixed"", ""notcertified...",2024-09-24 23:21:49,2024-09-24 23:21:49
6,7,ID6403,stdb_reg,,"{""label"": [""No"", ""Yes""], ""data"": [34, 71], ""ba...",2024-09-25 00:05:06,2024-09-25 00:05:06
7,8,ID6107,stdb_reg,,"{""label"": [""No"", ""Yes""], ""data"": [110, 89], ""b...",2024-09-25 00:05:06,2024-09-25 00:05:06
8,9,,stdb_reg,,"{""label"": [""No"", ""Yes""], ""data"": [144, 160], ""...",2024-09-25 00:05:06,2024-09-25 00:05:06

In [172]:
chart_analytics.to_sql('chart_analytics', engine, if_exists='replace', index=False)

9