---
title: "Kobotoolbox Data Preprocessing"
author: "Alfa Nugraha"
format:
    html:
        toc: true
        toc-depth: 3
        toc-location: left
        theme: united
        code-tools: true
        code-line-numbers: true
---

## Import Library

In [15]:
import requests
import json
import pandas as pd
import numpy as np
import psycopg2 as pg
import geopandas as gpd
import matplotlib.pyplot as plt

from sqlalchemy import create_engine
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

## Create Function

In [2]:
def getFormMetadata(url, title, username, password):
    auth = auth = (username, password)
    response = requests.get(url, auth=auth)

    if(response.status_code == 200):
        print("form metadata request successfull")
        data = response.json()
    else:
        print(f"form metadata request failed with status code: {response.status_code}")
        print(response.text)

    if(len(data) == 0):
        return -1

    for form in data:
        if form["title"] == title:
            metadata = {"title": title,
                        "formid": form["id_string"],
                        "uuid": form["uuid"],
                        "code": form["formid"]}

    return(metadata)

In [3]:
def koboCsvData(url, code, username, password):
    if(isinstance(code, (int, float, complex))):
        c = str(code)

    r = url + c + '?format=json'
    auth = auth = (username, password)
    response = requests.get(r, auth=auth)

    if(response.status_code == 200):
        data = pd.DataFrame(response.json())
    else: 
        print(f"data request failed with status code: {response.status_code}")
        print(response.text)

    return(data)

## Initialize Parameters

In [4]:
url = "https://koboform.cifor.org/api/v1/forms?format=json"
kf_server_url = "https://kobotoolbox.cifor.org/"
kc_server_url = "https://koboform.cifor.org/"

username = "walm_admin"
password = "cifor2024"
# https://koboform.cifor.org/api/v1/user
api_token = "c96a26b823e1c8257019c30411415e602f94afc0"
# https://kobotoolbox.cifor.org/token/?format=json
token = "44d3f4e3e61fdf88ae32f268c61f04934239f0e7"

## Get Data

In [5]:
form_metadata = getFormMetadata(url, 'Survey Kebun', username, password)
form_metadata

form metadata request successfull

{'title': 'Survey Kebun',
 'formid': 'aR4MKpzCHQQJDwzTyPPyrc',
 'uuid': '58849c99418a4c7f9aee1e99f13e637a',
 'code': 75}

In [6]:
kobo_form_url = kc_server_url + 'api/v1/data/' + str(form_metadata['code']) + '?format=json'
response_API = requests.get(url=kobo_form_url, 
                            auth=(username, password))

### Survey Pekebun

In [11]:
kf76 = kc_server_url + 'api/v1/data/' 
df_pekebun = koboCsvData(kf76, 76, username, password)
df_pekebun.head()

,_id,formhub/uuid,start,end,today,username,deviceid,info/surveyDate,info/interName,respProfile/farmerName,respProfile/farmer_phone,respAddress/district,respAddress/subdistrict,respAddress/village,edu_origin/farmerGender,edu_origin/farmerAge,edu_origin/size,edu_origin/dependents,edu_origin/education,edu_origin/origin,edu_origin/ethnic,occupation/main_occupation,occupation/side_occupation,occupation/sideOther,occupation/income_oilpalm,occupation/income_nonoilpalm,ownerships/ownership,ownerships/number_plot,ownerships/area_plot,group/joinGroup,group/groupName,group/groupBenefit,permits/permit,permits/no_permit,permits/seed_paper,permits/no_seed,establishing/acquisition,establishing/who,establishing/whoother,establishing/yearOwned,establishing/landUse,other_activities/activities,other_activities/women,other_activities/women_activities,sales/sell_FFB,sales/price,sales/factor,__version__,meta/instanceID,meta/instanceName,_xform_id_string,_uuid,_attachments,_status,_geolocation,_submission_time,_tags,_notes,_validation_status,_submitted_by,sales/otherFactor,edu_origin/ethnicOther,establishing/whoacquisition,establishing/otherLanduse,occupation/mainOther,permits/no_permitOther,ownerships/ownerName,ownerships/owner_occupation,ownerships/ownerAddress,work_division/OwnerRelation,work_division/respon,work_division/worksystem,permits/no_seedOther,ownerships/mainOther_owner,work_division/otherrelation,group/otherGroupBenefit,other_activities/activitiesOther,sales/otherSell,work_division/workother
0,13926,fb65c7666b2b4b3cb02d74e277cdae6e,2024-08-01T12:00:50.736+08:00,2024-08-01T12:17:37.258+08:00,2024-08-01,walm_k1,collect:ZEiWvcSs2zAJszHp,2024-08-01,Rommy Hefryan,Ondol Ardianto,081258578459,ID6403,ID6403050,ID6403050001,male,41,5,3,elementary_school,local,dayak,farmer,other,Ketua RT 20 Jonggon Desa,4000000,500000,yes,1,2.0,yes,Usaha Tani 2,access_fertilizers,doesnthave,process,doesnthave,dontKnow,inheritance,other,Buka lahan sendiri,2002,fallow,act_household,yes,finance fertilizers pesticide cleaning harvesting,large_mid,buyer,price,v7pzoms8YFLAfdHa5CUuSW,uuid:600b4eec-75dc-4cb3-b336-7edb199a684b,Ondol Ardianto _2024-08-01,aG7mRUqZTxNDAE4M5pkAkv,600b4eec-75dc-4cb3-b336-7edb199a684b,[],submitted_via_web,"[None, None]",2024-08-01T08:39:41,[],[],{},walm_k1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13927,fb65c7666b2b4b3cb02d74e277cdae6e,2024-08-01T12:19:39.352+08:00,2024-08-01T12:23:44.068+08:00,2024-08-01,walm_k1,collect:ZEiWvcSs2zAJszHp,2024-08-01,Rommy Hefryan,Ondol Ardianto,081258578459,ID6403,ID6403050,ID6403050001,male,41,5,3,elementary_school,local,dayak,farmer,other,Ketua RT 20 Jonggon Desa,4000000,500000,yes,1,2.0,yes,Usaha Tani 2,access_fertilizers,doesnthave,process,doesnthave,dontKnow,inheritance,other,Buka Lahan Sendiri,2002,fallow,act_household,yes,NaN,large_mid,buyer,price,v7pzoms8YFLAfdHa5CUuSW,uuid:bc8cacf0-0f15-4568-8919-69ff2143924c,Ondol Ardianto _2024-08-01,aG7mRUqZTxNDAE4M5pkAkv,bc8cacf0-0f15-4568-8919-69ff2143924c,[],submitted_via_web,"[None, None]",2024-08-01T08:39:41,[],[],{},walm_k1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,13929,fb65c7666b2b4b3cb02d74e277cdae6e,2024-08-01T11:25:19.923+07:00,2024-08-01T13:17:11.611+07:00,2024-08-01,walm_k1,collect:d03hohW6eXJolQwO,2024-08-01,Aji Titin Roswitha,Ashudi,082150849926,ID6403,ID6403050,ID6403050001,male,55,4,6,elementary_school,transmigrant,javanese,farmer,other,NaN,2600000,3000000,yes,8,8.0,yes,Moro Seneng,liase_gov,doesnthave,dontKnow,seed_certificate,NaN,purchase_land,who_ind,NaN,2007,fallow,act_household,yes,fertilizers cleaning finance,small_mid,buyer,other,v7pzoms8YFLAfdHa5CUuSW,uuid:dc443e47-d134-413a-8e65-f8a85006ae34,Ashudi_2024-08-01,aG7mRUqZTxNDAE4M5pkAkv,dc443e47-d134-413a-8e65-f8a85006ae34,[],submitted_via_web,"[None, None]",2024-08-01T08:40:00,[],[],{},walm_k1,Karena dekat ( pengepul nasri),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13934,fb65c7666b2b4b3cb02d74e277cdae6e,2024-08-01T11:31:51.360+08:00,2024-08-01T12:42:30.053+08:00,2024-08-01,walm_admin,collect:khJHr33FraiDaHJa,2024-08-01,Lila Juniyanti,Yusuf Supiyandi,082253691042,ID6403,ID6403050,ID6403050001,male,54,5,3,elementary_school,migrant,other,farmer,other,Pedagang sembako,3500000,1500000,yes,5,5.0,yes,Tunas Harapan,access_fertilizers,doesnthave,dontKnow,seed_certificate,NaN,other,other,"Warisan ortu, beli dari petani lain, jatah pem...",2014,other,act_otherfam,yes,pesticide fertilizers,small_mid,buyer,relationship price,v7pzoms8YFLAfdHa5CUuSW,uuid:0903f3e1-cffc-43e3-a5ee-29978c05ef66,Yusuf Supiyandi_2024-08-01,aG7mRUqZTxNDAE4M5pkAkv,0903f3e1-cffc-43e3-a5ee-29978c05ef66,[],submitted_via_web,"[None, None]",2024-08-01T08:48:19,[],[],{},walm_admin,NaN,Sunda,"Beli, jatah transmigrasi, warisan",Semak dan sawah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,13936,fb65c7666b2b4b3cb02d74e277cdae6e,2024-08-01T11:24:48.737+08:00,2024-08-01T13:53:48.181+08:00,2024-08-01,walm_k1,collect:uINDfeRU30OtrBfs,2024-08-01,Rudy Indra Winarto,Ecen,082280853559,ID6403,ID6403050,ID6403050001,male,47,6,5,elementary_school,local,dayak,other,farmer,NaN,8000000,500000,yes,1,2.0,yes,Tunas Harapan,liase_gov,certificate_village,NaN,seed_certificate,NaN,inheritance,noone,NaN,2006,fallow,act_household,yes,harvesting fertilizers finance,small_mid,buyer,schedule price,v7pzoms8YFLAfdHa5CUuSW,uuid:7c0bb358-5fe5-4542-a6be-3c3ba202b2e6,Ecen_2024-08-01,aG7mRUqZTxNDAE4M5pkAkv,7c0bb358-5fe5-4542-a6be-3c3ba202b2e6,[],submitted_via_web,"[None, None]",2024-08-01T08:51:50,[],[],{},walm_k1,NaN,NaN,NaN,NaN,Ketua RT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
dasbor_permit = df_pekebun.groupby('info/interName')[['permits/permit']].value_counts()
dasbor_permit

info/interName               permits/permit
A.M TSAQIF                   doesnthave                  11
                             certificate_village          9
                             stdb                         1
A.M TSAQIF                   doesnthave                   1
Aji Titin Roswitha           doesnthave                   1
Aji Titin Roswitha Nursanti  certificate_village          9
                             doesnthave                   8
                             stdb                         1
Asep Hermawan                doesnthave                  25
                             stdb sppl                    7
Asep Hermawan                doesnthave                   1
Juragan                      doesnthave                   1
Libertus ediansyah           certificate_village         20
                             certificate_village stdb    12
                             stdb                         2
Lila Juniyanti               doesnthave                   1
Muhammad Rony Yusra          certificate_village         12
                             stdb                         5
                             doesnthave                   4
Norhayati                    doesnthave                  14
                             certificate_village          8
Priyo suci trimadhona        doesnthave                  27
                             stdb                         5
                             certificate_village          1
Rino Evrianto                certificate_village         29
                             doesnthave                   5
Rino Evrianto                doesnthave                   1
Rizky pikrian                doesnthave                  32
Rommy Hefryan                doesnthave                   2
Rudy Indra Winarto           certificate_village         19
                             doesnthave                   4
TSAQIF                       doesnthave                   6
                             certificate_village          2
                             sppl                         1
Usman                        certificate_village         17
Name: count, dtype: int64

### Survey Kebun

In [10]:
kobo_url = kc_server_url + 'api/v1/data/'
code = form_metadata['code']
df = koboCsvData(kobo_url, code, username, password)
df.head()

,_id,formhub/uuid,start,end,today,username,deviceid,enumInfo/interName,enumInfo/surveyDate,farmerInfo/farmerName,farmerInfo/farmer_phone,farmerInfo/ownership,farmerInfo/ownerName,farmerInfo/owner_phone,farmerAddress/farmerDistrict,farmerAddress/farmerSubdistrict,farmerAddress/farmerVillage,farmerAddress/detailAddress,plantationInfo/plant_age,plantationInfo/plant_doc,plantationInfo/plant_areaDoc,plantationInfo/plant_category,plantationInfo/seedcert,plantationInfo/seedsource,plantationInfo/seedsourceother,plantationInfo/seed_invoice,plantationProd/yield_minKG,plantationProd/yield_maxKG,plantationProd/yield_meanKG,plantationProd/yield_meanTon,plantationProd/harvest_period,plantationProd/harvest_freqYear,plantationProd/plant_production,plantationProd/plant_productivity,millsNumber,numMills_count,numMills,plantation/plant_point,plantation/plant_polygon,plantation/plant_polyAreaM2,plantation/plant_polyAreaHa,plantation/percent_difArea,documentation/plant_pic,__version__,meta/instanceID,meta/instanceName,_xform_id_string,_uuid,_attachments,_status,_geolocation,_submission_time,_tags,_notes,_validation_status,_submitted_by,plantationInfo/seed_certificate,meta/rootUuid,meta/deprecatedID,plantationInfo/plant_note,farmerInfo/farmer_note,plantationInfo/plant_docOthers,farmerInfo/ownerNameTemp,farmerInfo/owner_phoneTemp,plantation/area_note
0,13928,58849c99418a4c7f9aee1e99f13e637a,2024-08-01T12:25:24.900+08:00,2024-08-01T14:32:49.107+08:00,2024-08-01,walm_k1,collect:ZEiWvcSs2zAJszHp,Rommy Hefryan,2024-08-01,Ondol Ardianto,081258578459,yes,Ondol Ardianto,081258578459,ID6403,ID6403050,ID6403050001,RT 20 Jonggon Desa,13.0,none,2.0,independent,notcertified,others,Beli Lokal dan Cabutan,no,700.0,1200.0,900.0,0.9,15,24.333333333333332,21.9,10.95,3,3,[{'numMills/traceability/millDistrict': 'ID640...,-0.6109426 116.7720732 69.73687744140625 3.0,-0.6110042 116.7721468 72.72576904296875 4.477...,21103.34433719732,2.11,5.5,1722490926288.jpg,vJMcLodD4dbg5n7FGgjtDc,uuid:a3995de7-09ce-4648-828c-d28b3f46d76d,Ondol Ardianto_2024-08-01,aR4MKpzCHQQJDwzTyPPyrc,a3995de7-09ce-4648-828c-d28b3f46d76d,[{'download_url': 'https://koboform.cifor.org/...,submitted_via_web,"[-0.6109426, 116.7720732]",2024-08-01T08:39:43,[],[],{},walm_k1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13930,58849c99418a4c7f9aee1e99f13e637a,2024-08-01T11:48:47.031+07:00,2024-08-01T13:17:49.530+07:00,2024-08-01,walm_k1,collect:d03hohW6eXJolQwO,Aji Titin Roswitha,2024-08-01,Ashudi,082150849926,yes,Ashudi,082150849926,ID6403,ID6403050,ID6403050001,Rt 14,7.0,shm,1.0,independent,certified,localdealer,NaN,no,500.0,1500.0,1200.0,1.2,15,24.333333333333332,29.199999999999996,29.199999999999996,1,1,[{'numMills/traceability/millDistrict': 'ID640...,-0.6141264 116.7410881 100.5 2.928,-0.6140527 116.741036 99.9 1.6; -0.6142198 116...,10049.751983564976,1,0,1722491951277.jpg,vJMcLodD4dbg5n7FGgjtDc,uuid:2ce1cacf-d132-4da9-aada-1d867ccb91c6,Ashudi_2024-08-01,aR4MKpzCHQQJDwzTyPPyrc,2ce1cacf-d132-4da9-aada-1d867ccb91c6,[{'download_url': 'https://koboform.cifor.org/...,submitted_via_web,"[-0.6141264, 116.7410881]",2024-08-01T08:40:02,[],[],{},walm_k1,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,13931,58849c99418a4c7f9aee1e99f13e637a,2024-08-01T12:33:31.659+08:00,2024-08-01T22:22:00.621+08:00,2024-08-01,walm_k1,collect:SSKAyKJblKyphwEm,Usman,2024-08-01,Romadon,085389363242,yes,Romadon,085389363242,ID6403,ID6403050,ID6403050001,NaN,8.0,skt,1.0,independent,certified,aid,NaN,yes,500.0,1500.0,1000.0,1,20,18.25,18.25,18.25,1,1,[{'numMills/traceability/millDistrict': 'ID640...,-0.6196243 116.7434893 91.1258544921875 3.824,-0.619569 116.7426232 91.64752197265625 3;-0.6...,9122.52,0.91,9,1722488017825.jpg,vJMcLodD4dbg5n7FGgjtDc,uuid:3fe9b4b0-f156-4c3a-a674-5e536a0029c7,Romadon_2024-08-01,aR4MKpzCHQQJDwzTyPPyrc,3fe9b4b0-f156-4c3a-a674-5e536a0029c7,[{'download_url': 'https://koboform.cifor.org/...,submitted_via_web,"[-0.6196243, 116.7434893]",2024-08-01T08:40:49,[],[],{},walm_k1,yes,7ef710a4-7840-4b68-992a-ccd69c692657,uuid:7ef710a4-7840-4b68-992a-ccd69c692657,NaN,NaN,NaN,NaN,NaN,NaN
3,13932,58849c99418a4c7f9aee1e99f13e637a,2024-08-01T13:13:44.461+08:00,2024-08-01T13:29:14.191+08:00,2024-08-01,walm_k1,collect:SSKAyKJblKyphwEm,Usman,2024-08-01,Romadon,085389363242,yes,Romadon,085389363242,ID6403,ID6403050,ID6403050001,NaN,6.0,skt,1.0,independent,certified,aid,NaN,yes,400.0,1000.0,700.0,0.7,20,18.25,12.774999999999999,12.774999999999999,1,1,[{'numMills/traceability/millDistrict': 'ID640...,-0.6150634 116.7403217 109.47784423828125 3.79,-0.615074 116.7402978 109.06463623046875 3.79;...,7420.187096519917,0.74,26,1722490146971.jpg,vJMcLodD4dbg5n7FGgjtDc,uuid:d520ced1-e362-49c0-8b3e-6d3467a8fb80,Romadon_2024-08-01,aR4MKpzCHQQJDwzTyPPyrc,d520ced1-e362-49c0-8b3e-6d3467a8fb80,[{'download_url': 'https://koboform.cifor.org/...,submitted_via_web,"[-0.6150634, 116.7403217]",2024-08-01T08:40:50,[],[],{},walm_k1,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,13933,58849c99418a4c7f9aee1e99f13e637a,2024-08-01T13:31:53.256+08:00,2024-08-01T13:52:55.162+08:00,2024-08-01,walm_k1,collect:SSKAyKJblKyphwEm,Usman,2024-08-01,Romadon,085389363242,yes,Romadon,085389363242,ID6403,ID6403050,ID6403050001,NaN,7.0,skt,1.0,independent,certified,aid,NaN,yes,400.0,700.0,550.0,0.55,20,18.25,10.037500000000001,10.037500000000001,1,1,[{'numMills/traceability/millDistrict': 'ID640...,-0.6145185 116.7402718 114.5301513671875 3.79,-0.6149196 116.7502854 89.77728271484375 3.658...,7378.104421785187,0.74,26,1722491568166.jpg,vJMcLodD4dbg5n7FGgjtDc,uuid:0e1a2734-0653-4abf-bd0b-d9b8b16c8ed5,Romadon_2024-08-01,aR4MKpzCHQQJDwzTyPPyrc,0e1a2734-0653-4abf-bd0b-d9b8b16c8ed5,[{'download_url': 'https://koboform.cifor.org/...,submitted_via_web,"[-0.6145185, 116.7402718]",2024-08-01T08:40:51,[],[],{},walm_k1,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df['numMills'].iloc[0,]

[{'numMills/traceability/millDistrict': 'ID6403',
  'numMills/traceability/millsTo': 'PO1000008233',
  'numMills/traceability/millsRSPO': 'Not RSPO Certified'},
 {'numMills/traceability/millDistrict': 'ID6403',
  'numMills/traceability/millsTo': 'PO1000014622',
  'numMills/traceability/millsRSPO': 'Not RSPO Certified'},
 {'numMills/traceability/millDistrict': 'ID6403',
  'numMills/traceability/millsTo': 'PO1000001488',
  'numMills/traceability/millsRSPO': 'Not RSPO Certified'}]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 313 entries, 0 to 312
Data columns (total 65 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   _id                                313 non-null    int64
 1   formhub/uuid                       313 non-null    object
 2   start                              313 non-null    object
 3   end                                313 non-null    object
 4   today                              313 non-null    object
 5   username                           308 non-null    object
 6   deviceid                           313 non-null    object
 7   enumInfo/interName                 313 non-null    object
 8   enumInfo/surveyDate                313 non-null    object
 9   farmerInfo/farmerName              313 non-null    object
 10  farmerInfo/farmer_phone            313 non-null    object
 11  farmerInfo/ownership               313 non-null    object
 12  farmerInfo/ownerName               313 non-null    object
 13  farmerInfo/owner_phone             313 non-null    object
 14  farmerAddress/farmerDistrict       313 non-null    object
 15  farmerAddress/farmerSubdistrict    313 non-null    object
 16  farmerAddress/farmerVillage        313 non-null    object
 17  farmerAddress/detailAddress        204 non-null    object
 18  plantationInfo/plant_age           313 non-null    object
 19  plantationInfo/plant_doc           313 non-null    object
 20  plantationInfo/plant_areaDoc       313 non-null    object
 21  plantationInfo/plant_category      313 non-null    object
 22  plantationInfo/seedcert            313 non-null    object
 23  plantationInfo/seedsource          313 non-null    object
 24  plantationInfo/seedsourceother     31 non-null     object
 25  plantationInfo/seed_invoice        313 non-null    object
 26  plantationProd/yield_minKG         313 non-null    object
 27  plantationProd/yield_maxKG         313 non-null    object
 28  plantationProd/yield_meanKG        313 non-null    object
 29  plantationProd/yield_meanTon       313 non-null    object
 30  plantationProd/harvest_period      313 non-null    object
 31  plantationProd/harvest_freqYear    313 non-null    object
 32  plantationProd/plant_production    313 non-null    object
 33  plantationProd/plant_productivity  313 non-null    object
 34  millsNumber                        313 non-null    object
 35  numMills_count                     313 non-null    object
 36  numMills                           313 non-null    object
 37  plantation/plant_point             313 non-null    object
 38  plantation/plant_polygon           313 non-null    object
 39  plantation/plant_polyAreaM2        313 non-null    object
 40  plantation/plant_polyAreaHa        313 non-null    object
 41  plantation/percent_difArea         313 non-null    object
 42  documentation/plant_pic            313 non-null    object
 43  __version__                        313 non-null    object
 44  meta/instanceID                    313 non-null    object
 45  meta/instanceName                  313 non-null    object
 46  _xform_id_string                   313 non-null    object
 47  _uuid                              313 non-null    object
 48  _attachments                       313 non-null    object
 49  _status                            313 non-null    object
 50  _geolocation                       313 non-null    object
 51  _submission_time                   313 non-null    object
 52  _tags                              313 non-null    object
 53  _notes                             313 non-null    object
 54  _validation_status                 313 non-null    object
 55  _submitted_by                      313 non-null    object
 56  plantationInfo/seed_certificate    251 non-null    object
 57  meta/rootUuid                      34 non-null     object
 58  meta/deprecatedID                  34 non-null     object
 59  plantationInfo/plant_note          15 non-null     object
 60  farmerInfo/farmer_note             2 non-null      object
 61  plantationInfo/plant_docOthers     2 non-null      object
 62  farmerInfo/ownerNameTemp           1 non-null      object
 63  farmerInfo/owner_phoneTemp         1 non-null      object
 64  plantation/area_note               5 non-null      object
dtypes: int64(1), object(64)
memory usage: 159.1+ KB

In [ ]:
df.columns

Index(['_id', 'formhub/uuid', 'start', 'end', 'today', 'username', 'deviceid',
       'enumInfo/interName', 'enumInfo/surveyDate', 'farmerInfo/farmerName',
       'farmerInfo/farmer_phone', 'farmerInfo/ownership',
       'farmerInfo/ownerName', 'farmerInfo/owner_phone',
       'farmerAddress/farmerDistrict', 'farmerAddress/farmerSubdistrict',
       'farmerAddress/farmerVillage', 'farmerAddress/detailAddress',
       'plantationInfo/plant_age', 'plantationInfo/plant_doc',
       'plantationInfo/plant_areaDoc', 'plantationInfo/plant_category',
       'plantationInfo/seedcert', 'plantationInfo/seedsource',
       'plantationInfo/seedsourceother', 'plantationInfo/seed_invoice',
       'plantationProd/yield_minKG', 'plantationProd/yield_maxKG',
       'plantationProd/yield_meanKG', 'plantationProd/yield_meanTon',
       'plantationProd/harvest_period', 'plantationProd/harvest_freqYear',
       'plantationProd/plant_production', 'plantationProd/plant_productivity',
       'millsNumber', 'numMills_count', 'numMills', 'plantation/plant_point',
       'plantation/plant_polygon', 'plantation/plant_polyAreaM2',
       'plantation/plant_polyAreaHa', 'plantation/percent_difArea',
       'documentation/plant_pic', '__version__', 'meta/instanceID',
       'meta/instanceName', '_xform_id_string', '_uuid', '_attachments',
       '_status', '_geolocation', '_submission_time', '_tags', '_notes',
       '_validation_status', '_submitted_by',
       'plantationInfo/seed_certificate', 'meta/rootUuid', 'meta/deprecatedID',
       'plantationInfo/plant_note', 'farmerInfo/farmer_note',
       'plantationInfo/plant_docOthers', 'farmerInfo/ownerNameTemp',
       'farmerInfo/owner_phoneTemp', 'plantation/area_note'],
      dtype='object')

In [ ]:
df_copy = df.copy()
num_col = ['plantationInfo/plant_age', 
           'plantationProd/plant_productivity', 
           'plantationInfo/plant_areaDoc', 
           'plantationProd/plant_production']
df_copy = df_copy.replace(['inf', 'Infinity', '-inf', '-Infinity'], np.nan)
for c in num_col:
    df_copy[c] = pd.to_numeric(df_copy[c], errors='coerce')
    df_copy[c] = df_copy[c].fillna(0)

In [12]:
# lst = [np.inf, -np.inf, np.Infinity, "Infinity"]
# num_col = ['plantationInfo/plant_age', 
#            'plantationProd/plant_productivity', 
#            'plantationInfo/plant_areaDoc', 
#            'plantationProd/plant_production']
# to_replace = {v : lst for v in num_col} 
# df_copy = df.copy()

# df_copy.replace(to_replace, 0)
df_copy[num_col].head(20)

,plantationInfo/plant_age,plantationProd/plant_productivity,plantationInfo/plant_areaDoc,plantationProd/plant_production
0,13.0,10.950000,2.00,21.900000
1,7.0,29.200000,1.00,29.200000
2,8.0,18.250000,1.00,18.250000
3,6.0,12.775000,1.00,12.775000
4,7.0,10.037500,1.00,10.037500
5,9.0,18.250000,1.00,18.250000
6,15.0,18.250000,2.00,36.500000
7,3.0,2.676667,1.00,2.676667
8,4.0,0.000000,0.40,0.000000
9,3.0,3.650000,0.01,0.036500
10,67.0,28.968254,1.80,52.142857
11,8.0,12.166667,0.50,6.083333
12,3.0,11.774194,0.50,5.887097
13,3.0,24.333333,2.00,48.666667
14,7.0,365.000000,1.00,365.000000
15,5.0,6.517857,2.00,13.035714
16,9.0,782.142857,2.00,1564.285714
17,3.0,4.779762,1.20,5.735714
18,2.5,2.027778,0.60,1.216667
19,4.0,4.866667,0.50,2.433333

## Analysis Data

#### **LIST OUTPUT**

**Tabel Survey Pekebun**

- permits/permit

**Tabel Survey Kebun**

- AVG plantationInfo/plant_age
- AVG plantationProd/plant_productivity
- SUM plantationInfo/plant_doc
- SUM plantationInfo/plant_areaDoc
- COUNT unique farmerInfo/ownerName
- SUM plantationProd/plant_production
- COUNT unique millsTo == mill_id from farm_mills
- PROPORTION plantationInfo/seedcert

**Spatial Data**

- plantation/plant_polygon
- plantation/plant_point

#### **TODO LIST:**

- add new arguments the latest submission time for getting data from kobo using `form_url/?query={"_submission_time" : {"$gt": "2024-09-20T00:00:00"}}`
- routine for get connection always set from the tables `kobo_connection`
- get data from kobo 'Survey Kebun' and store it to table `farms`
- get data from kobo 'Survey Pekebun' and store it to table `farmers`
- generate data analytics filter by district_id + all
- save point and polygon as json
- create separate script for deforestation free and land designation

#### **NOTES**

- data kobo store as it is
- for dashboard calculation exclude the data with inf types 
- technique to store df['numMills'].iloc[0,] to farm_mills, need looping
- add requirements.txt for python
- convert to geojson for spatial data

### Smallholder Farmers

In [18]:
col = ['farmerInfo/ownerName']
dasbor_total_petani = df[col].describe() # .loc['unique']
dasbor_total_petani

       farmerInfo/ownerName
count                   313
unique                  302
top                 Romadon
freq                      3

In [44]:
dasbor_total_petani = df['farmerAddress/farmerDistrict'].describe() # .loc['unique']
dasbor_total_petani

count        313
unique         2
top       ID6107
freq         206
Name: farmerAddress/farmerDistrict, dtype: object

### Plantation Age

In [45]:
dasbor_umur_tanaman = df_copy.groupby('farmerAddress/farmerDistrict')[['plantationInfo/plant_age']].mean()
dasbor_umur_tanaman

                              plantationInfo/plant_age
farmerAddress/farmerDistrict
ID6107                                        9.669903
ID6403                                       10.785047

### Plant Productivity

In [21]:
dasbor_produktivitas_tanaman = df_copy.groupby('farmerInfo/ownerName')[['plantationProd/plant_productivity']].mean()
dasbor_produktivitas_tanaman

                      plantationProd/plant_productivity
farmerInfo/ownerName
AGUSTINUS                                     19.553571
AHMAD KHUZORI                                260.714286
ALI NANCAH                                    10.428571
ANAS SUPRAPTO                                 43.452381
ANGIT                                         18.403361
...                                                 ...
Yuminah                                       26.221264
Yunus                                         33.675595
Yusran                                        14.965000
Yusuf Supiyandi                               18.250000
Yusup Supratman                              247.457627

[302 rows x 1 columns]

### Plant Production

In [27]:
dasbor_produksi_tanaman = df_copy.groupby('farmerInfo/ownerName')[['plantationProd/plant_production']].sum()
dasbor_produksi_tanaman

                      plantationProd/plant_production
farmerInfo/ownerName
AGUSTINUS                                   23.464286
AHMAD KHUZORI                              130.357143
ALI NANCAH                                  10.428571
ANAS SUPRAPTO                               13.035714
ANGIT                                       31.285714
...                                               ...
Yuminah                                     30.416667
Yunus                                      104.285714
Yusran                                      74.825000
Yusuf Supiyandi                             18.250000
Yusup Supratman                            146.000000

[302 rows x 1 columns]

### Land Legality

In [30]:
dasbor_land_legality = df_copy[['plantationInfo/plant_doc']].value_counts()
dasbor_land_legality

plantationInfo/plant_doc
shm                         143
skt                         111
none                         57
others                        2
Name: count, dtype: int64

### Plantation Area

In [31]:
dasbor_luas_kebun = df_copy.groupby('farmerInfo/ownerName')[['plantationInfo/plant_areaDoc']].sum()
dasbor_luas_kebun

                      plantationInfo/plant_areaDoc
farmerInfo/ownerName
AGUSTINUS                                     1.20
AHMAD KHUZORI                                 0.50
ALI NANCAH                                    1.00
ANAS SUPRAPTO                                 0.30
ANGIT                                         1.70
...                                            ...
Yuminah                                       1.16
Yunus                                         3.50
Yusran                                        5.00
Yusuf Supiyandi                               1.00
Yusup Supratman                               0.59

[302 rows x 1 columns]

### Seed Certification

In [32]:
dasbor_seed_cert = df_copy[['plantationInfo/seedcert']].value_counts()
dasbor_seed_cert

plantationInfo/seedcert
certified                  248
unknown                     38
notcertified                24
mixed                        3
Name: count, dtype: int64

In [37]:
a = df_copy[['plantation/plant_polygon']]
a

## Calculate Area

In [33]:
spatial_cols = [
    "plantation/plant_point",
    "plantation/plant_polygon",
    "plantation/plant_polyAreaM2",
    "plantation/plant_polyAreaHa",
    "plantation/percent_difArea",
    "_geolocation"
]
df_spatial = df[spatial_cols]
df_spatial.head()

,plantation/plant_point,plantation/plant_polygon,plantation/plant_polyAreaM2,plantation/plant_polyAreaHa,plantation/percent_difArea,_geolocation
0,-0.6109426 116.7720732 69.73687744140625 3.0,-0.6110042 116.7721468 72.72576904296875 4.477...,21103.34433719732,2.11,5.5,"[-0.6109426, 116.7720732]"
1,-0.6141264 116.7410881 100.5 2.928,-0.6140527 116.741036 99.9 1.6; -0.6142198 116...,10049.751983564976,1,0,"[-0.6141264, 116.7410881]"
2,-0.6196243 116.7434893 91.1258544921875 3.824,-0.619569 116.7426232 91.64752197265625 3;-0.6...,9122.52,0.91,9,"[-0.6196243, 116.7434893]"
3,-0.6150634 116.7403217 109.47784423828125 3.79,-0.615074 116.7402978 109.06463623046875 3.79;...,7420.187096519917,0.74,26,"[-0.6150634, 116.7403217]"
4,-0.6145185 116.7402718 114.5301513671875 3.79,-0.6149196 116.7502854 89.77728271484375 3.658...,7378.104421785187,0.74,26,"[-0.6145185, 116.7402718]"

In [40]:
# df_spatial['plantation/plant_point'].to_list()[1]
# df_spatial[['lon', 'lan', 'a', 'b']] = df_spatial['plantation/plant_point'].str.split(' ', n=4, expand=True)
df_spatial['plantation/plant_point'].str.split(' ', n=4, expand=True)[1]

0      116.7720732
1      116.7410881
2      116.7434893
3      116.7403217
4      116.7402718
          ...
308    111.7071181
309    111.7015839
310    111.7073842
311    111.7071423
312     111.694583
Name: 1, Length: 313, dtype: object

In [31]:
df_spatial['plantation/plant_polygon'][1]

'-0.6140527 116.741036 99.9 1.6; -0.6142198 116.7402061 107.6 2.4; -0.6151171 116.7402474 109.3 3.0; -0.6150054 116.741148 109.5 3.0; -0.6140527 116.741036 99.9 1.6'

In [48]:
geom = gpd.points_from_xy(
    x = df_spatial['plantation/plant_point'].str.split(' ', n=4, expand=True)[0],
    y = df_spatial['plantation/plant_point'].str.split(' ', n=4, expand=True)[1],
    crs = "EPSG:4326"  
)
geom

<GeometryArray>
[<POINT (-0.611 116.772)>, <POINT (-0.614 116.741)>,  <POINT (-0.62 116.743)>,
  <POINT (-0.615 116.74)>,  <POINT (-0.615 116.74)>, <POINT (-0.618 116.752)>,
 <POINT (-0.625 116.757)>, <POINT (-0.017 111.391)>, <POINT (-0.022 111.329)>,
  <POINT (0.061 111.501)>,
 ...
   <POINT (0.099 111.69)>,  <POINT (0.106 111.699)>,  <POINT (0.111 111.702)>,
  <POINT (0.113 111.707)>,  <POINT (0.106 111.699)>,  <POINT (0.113 111.707)>,
  <POINT (0.111 111.702)>,  <POINT (0.113 111.707)>,  <POINT (0.113 111.707)>,
  <POINT (0.098 111.695)>]
Length: 313, dtype: geometry

In [54]:
gpf = gpd.GeoDataFrame(
    df['farmerAddress/farmerDistrict'], geometry = geom, crs = "EPSG:4326"  
)
gpf.head()

  farmerAddress/farmerDistrict                    geometry
0                       ID6403  POINT (-0.61094 116.77207)
1                       ID6403  POINT (-0.61413 116.74109)
2                       ID6403  POINT (-0.61962 116.74349)
3                       ID6403  POINT (-0.61506 116.74032)
4                       ID6403  POINT (-0.61452 116.74027)

In [56]:
# gpf.plot(color='red', markersize=50, label='Set 1')
gpf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 313 entries, 0 to 312
Data columns (total 2 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   farmerAddress/farmerDistrict  313 non-null    object
 1   geometry                      313 non-null    geometry
dtypes: geometry(1), object(1)
memory usage: 5.0+ KB

## Store to PG

In [124]:
conn = pg.connect(
    host = "localhost",
    database = "rf-mds",
    user = "postgres",
    password = "root",
    port = "5433"
)
conn

In [ ]:
cur = conn.cursor()
cur.execute('SELECT * FROM tbl_iris;')
rows = cur.fetchall()
conn.commit()
cur.close()
# conn.close()
for r in rows:
    print(r)

In [127]:
pd.io.sql.read_sql('SELECT * FROM tbl_iris', conn)
conn.close()

C:\Users\anugraha\AppData\Local\Temp\ipykernel_56152\3863747460.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.io.sql.read_sql('SELECT * FROM tbl_iris', conn)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [130]:
engine = create_engine('postgresql://postgres:root@localhost:5433/rf-mds')

In [132]:
table_name = 'tbl_iris'
iris = pd.read_sql_table(table_name, engine)
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [133]:
pd.read_sql_query("SELECT * FROM tbl_iris;", engine)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [138]:
df[['username', 'millsNumber', 'numMills_count', '_geolocation']]

    username millsNumber numMills_count               _geolocation
0    walm_k1           3              3  [-0.6109426, 116.7720732]
1    walm_k1           1              1  [-0.6141264, 116.7410881]
2    walm_k1           1              1  [-0.6196243, 116.7434893]
3    walm_k1           1              1  [-0.6150634, 116.7403217]
4    walm_k1           1              1  [-0.6145185, 116.7402718]
..       ...         ...            ...                        ...
170  walm_k1           1              1   [-0.025706, 117.4809278]
171  walm_k1           1              1  [-0.0319475, 117.4760072]
172  walm_k1           1              1  [-0.0303466, 117.4785714]
173  walm_k1           1              1    [-0.03185, 117.4759021]
174  walm_k1           1              1  [-0.0367645, 117.4777082]

[175 rows x 4 columns]

`df.to_sql(‘data’, con=conn, if_exists=’replace’, index=False)`

arguments are:
- name of the table
- connection
- if_exists : if the table already exists the function we want to apply . ex: ‘append’ help us add data instead of replacing the data.
- index : True or False

In [145]:
df_test = df[['username', 'millsNumber', 'numMills_count', '_geolocation']]
df_test[['lon', 'lat']] = pd.DataFrame(df_test['_geolocation'].tolist(), index=df_test.index)
df_test = df_test.drop(columns=['_geolocation'])
df_test.to_sql('kobo_tbl', engine)

C:\Users\anugraha\AppData\Local\Temp\ipykernel_56152\626652279.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test[['lon', 'lat']] = pd.DataFrame(df_test['_geolocation'].tolist(), index=df_test.index)
C:\Users\anugraha\AppData\Local\Temp\ipykernel_56152\626652279.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test[['lon', 'lat']] = pd.DataFrame(df_test['_geolocation'].tolist(), index=df_test.index)

175